page-exchange-rates {
    #header{
    font-weight: bold;
    color: #006eb9 !important;    
    }

    h2{
        color: #006eb9 !important;
        font-weight: bold !important;
    }

    ion-row {
        text-align: center;
        }
}
