<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton color="primary">
        <ion-buttons left>
            <button ion-button menuToggle style="display: block !important;">
                <ion-icon name="md-list" color="light"></ion-icon>
              </button>
        </ion-buttons>
      <ion-title>
        <span text-color="light"> Notifications </span>
      </ion-title>
    </ion-navbar>  
</ion-header>

<ion-content padding>
    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="t" id="segButton">
          <ion-label>
            Transactions
              <!-- <ion-icon name="swap" color="dark"></ion-icon> -->
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="o" id="segButton">
          <ion-label>
            Offers
              <!-- <ion-icon name="logo-usd" color="dark"></ion-icon> -->
          </ion-label>
        </ion-segment-button>
      </ion-segment>
    
      <div id="ionCard" *ngIf="segment=='o'">
          <ion-card *ngFor="let offer of offers" id="card">
            <ion-card-header>
              {{offer.heading}}
            </ion-card-header>
            <ion-card-content>
              {{offer.content}}
            </ion-card-content>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <strong><p>{{offer.date}}</p></strong>
              </ion-col>
            </ion-row>
          </ion-card>
      </div>
      <div id="ionCard" *ngIf="segment=='t'">
          <ion-card *ngFor="let transaction of transactions" id="card">
              <ion-card-header>
                {{transaction.heading}}
              </ion-card-header>
              <ion-card-content>
                {{transaction.content}}
              </ion-card-content>
              <ion-row>
                <ion-col></ion-col>
                <ion-col>
                  <p>{{transaction.date}}</p>
                </ion-col>
              </ion-row>
            </ion-card>
      </div> 
     
</ion-content>
